/* Ingresa tu css aqui */
.container{
	/*definir el width es importante para que el navegador pueda calcular el margen*/
	width: 700px;
	margin: 0 auto;
}

#navigation li {
list-style-type:none;
margin-right: 65px;
padding:10px;
float: left;
line-height: 15px;
white-space: nowrap;
}

hr{
	border: 1px solid black;
	float: left;
	width: 100%;
}

.separador{
border: 1px solid black;
width:0px; 
height:20px;
margin-left:-30px;
}

.portada{
position: relative;
width:700px;
margin: 30px 30px 30px 0px;
}

p{
text-align: center;
padding: 15px;
margin-left: 65px;
margin-right: 65px;	
}

.lineaP{
	border: 1px solid #848484;
	float: left;
	width: 7%;
	margin: 0% 50%;
}

/* Sección Nuestras Coders */

#perfiles div{
width:200px;
height:200px;
margin: 20px;
}

.lineaCod{
	border-top: 3px solid black;
	width: 100px;
	float: left;
	position: absolute;
}

/* Imágenes de perfil */
.inlineblock{
display: inline-block;
}

.uno{
background-image: url(img/profile-1.png);
}

.dos{
background-image: url(img/profile-2.png);
}

.tres{
background-image: url(img/profile-3.png);
}
